<h2>New Instruction</h2>

<%= render "form.html", changeset: @changeset,
                        action: instruction_path(@conn, :create) %>

<span><%= link "Back", to: instruction_path(@conn, :index) %></span>
