<h2><%= @category.name %></h2>

<ul>

<%= for recipe <- @category.recipes do %>
  <li>
    <%= link recipe.name, to: recipe_path(@conn, :show, recipe.id) %></span>
  </li>
<% end %>

</ul>

<span><%= link "Back", to: category_path(@conn, :index) %></span>
