<ul class="categories">
<%= for category <- @categories do %>
  <li>
    <%= link category.name, to: Routes.category_path(@conn, :show, category) %>
  </li>
<% end %>
</ul>

<%= link "New Category", to: Routes.category_path(@conn, :new), class: "btn btn-default btn-new" %>
