/* This file is for your main application css. */

h2.title {
  font-size: 0.8em;
  font-weight: 300;
  color: #666;
  margin: 0;
  padding: 0.8em;
  border-bottom: 1px solid #eee;
}

.header {
  border-bottom: 1px solid #eee;
}

.logo {
  font-size: 2.2em;
  font-weight: 400;
  margin: 0.6em 0;
}

.logo > a {
  color: #e74c3c;
}

.logo > a:hover {
  color: #c0392b;
  text-decoration: none;
}

.btn-new {
  position: absolute;
  top: 1.31928571em;
  right: 1.07142857em;
}

ul, ol {
  padding-left: 2em;
}

@media (min-width: 768px) {
  .btn-new {
    postion: inherit;
    top: inherit;
    right: inherit;
    margin-top: 20px;
  }
}
