/* Styles for the categories page */

ul.categories {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.4em;
}

ul.categories > li {
  border-bottom: 1px solid #eee;
}

ul.categories > li:hover {
  background-color: #fafafa;
}

ul.categories > li > a {
  display: block;
  width: 100%;
  padding: 1em 0;
}

ul.categories > li > a {
  text-decoration: none;
}
