<h2>Edit Recipe</h2>

<%= render "form.html", changeset: @changeset,
                        categories: @categories,
                        action: recipe_path(@conn, :update, @recipe) %>

<span><%= link "Back", to: recipe_path(@conn, :index) %></span>
