<h2>New Recipe</h2>

<%= render "form.html", changeset: @changeset,
                        categories: @categories,
                        action: recipe_path(@conn, :create) %>

<span><%= link "Back", to: category_path(@conn, :show, @changeset.data.category_id) %></span>
