<h2>New Recipe</h2>

<%= render "form.html", changeset: @changeset,
                        categories: @categories,
                        action: Routes.recipe_path(@conn, :create) %>

<%= if !is_nil(@changeset.data.category_id) do %>
  <span><%= link "Back", to: Routes.category_path(@conn, :show, @selected_category.slug) %></span>
<% end %>
